<div class="container-md border mt-2">

    <div class="row border bg-light">
        <div class="col-6">
            <h2 routerLink="home pe-auto" class="h2 p-2 mous"><a href="#" class="link-underline-light">Sistema Biblioteca</a></h2>
        </div>
    </div>
    <div class="row">
        <div class="border col-6 d-flex flex-direction-column space-between p-2">
            <ul class="nav nav-underline">
                <li class="nav-item">
                    <a class="nav-link" routerLink="libro-listar">Libros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="editorial-listar">Editoriales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="prestamo-listar">Prestamos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="persona-listar">Personas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="rol-listar">Roles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="autores-listar">Autores</a>
                </li>
            </ul>
        </div>
        <div class="col-6 d-flex justify-content-around p-2">
            <button class="btn btn-primary">Iniciar Secion</button>
            <button class="btn btn-secondary">Registrarse</button>
        </div>
    </div>
    

</div>