<div class="container-md border mt-2">

    <div class="row border">
        <div class="col-6">
            <h2 class="h2">Sistema Biblioteca</h2>
        </div>
    </div>
    <div class="row">
        <div class="border col-6 d-flex flex-direction-column space-between">
            <ul class="nav nav-underline">
                <li class="nav-item">
                    <a class="nav-link">Libros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Editoriales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Prestamos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Personas</a>
                </li>
            </ul>
        </div>
        <div class="col-6 d-flex justify-content-around">
            <button type="button">Iniciar Secion</button>
            <button type="button">Registrarse</button>
        </div>
    </div>
    

</div>